<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
    body{
        background-color:pink;
        
        
    }
    table{
        margin-top :70px;
        margin-bottom:100px ;
    }
    .sub
    {
        text-align: center;   
        margin-bottom: 30px;
       
    }
    fieldset{
        margin-top :80px;
        border: 2px solid black;
    }
    td{
        font-size: 20px;
    }
    .sub:hover button{
        color:red;
        
    }
    </style>
</head>
<body>
    <h1>New Donation Page</h1>
    <center>
    <table>
        <tr>
            <td>

                <form action="#">
                
                    <fieldset>
        
                        <table>
                            <tr>
                                <td>Name:</td>
                                <td><input type="text" name="name" placeholder="Enter seeker's name" style="height:35px;width:250px;"></td>
                            </tr>
                            <tr>
                                <td>Blood group:</td>
                                <td><input type="text" name="name" placeholder="Enter Blood group" style="height:35px;width:250px;"></td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td><input type="text" name="name" placeholder="Enter City" style="height:35px;width:250px;"></td>
                            </tr>
                           
                        </table>
                        
                        <div class="sub">
                            <button style="height:40px;width:130px;background-color:skyblue;font-size:20px;">submit</button>
                        </div>
                    </fieldset>
                
                </form>

            </td>
        </tr>
    </table>
    </center>
</body>
</html>